@page "/Checkout/{Id:guid}"
@using Web.Features.Billing.Models
@using FluentValidation
@inject ICurrentUserAccessor CurrentUserAccessor
@inject IBillingService BillingService
@inject NavigationManager Navigator
@inject IPaymentService PaymentService


@if (_user != null && _report != null)
{
    <div class="flex items-center min-h-screen bg-gray-50 dark:bg-gray-900">
        <div class="container mx-auto">
            <div class="max-w-md mx-auto my-10 bg-white p-5 rounded-md shadow-sm">
                <div class="text-center">
                    <h1 class="my-3 text-3xl font-semibold text-gray-700 dark:text-gray-200">Checkout</h1>
                    <p class="text-gray-400 dark:text-gray-400">You need to pay @_price to see this report</p>
                </div>
                <div class="m-7">
                    <EditForm Model="_model" OnValidSubmit="HandleFormSubmit">
                        <DataAnnotationsValidator></DataAnnotationsValidator>
                        <ValidationSummary></ValidationSummary>
                        <div class="mb-6">
                            <label for="creditCardNumber" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
                                Credit car number
                            </label>
                            <InputText @bind-Value="_model.CreditCardNumber"
                                        id="creditCardNumber"
                                        class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500">
                            </InputText>
                        </div>
                        <div class="mb-6">
                            <label for="expirationDate" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
                                Expiration date
                            </label>
                            <InputText @bind-Value="_model.ExpirationDate"
                                        id="expirationDate"
                                        class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500">
                            </InputText>
                        </div>
                        <div class="mb-6">
                            <label for="securityCode" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">
                                Security Code
                            </label>
                            <InputText @bind-Value="_model.SecurityCode"
                                        id="securityCode"
                                        class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500">
                            </InputText>
                        </div>

                        <button
                            type="submit"
                            class="w-full px-3 py-4 text-white bg-indigo-500 rounded-md focus:bg-indigo-600 focus:outline-none">
                            Pay
                        </button>
                    </EditForm>
                    @if (!string.IsNullOrWhiteSpace(_errorMessage))
                    {
                        <p class="text-red-400">@_errorMessage</p>
                    }
                </div>
            </div>
        </div>
    </div>
}

@code {

    [Parameter]
    public Guid Id { get; set; }

    private CheckoutFormModel _model = new CheckoutFormModel();

    private User _user;
    private Report _report;
    private int _price;
    private string _errorMessage;

    protected override async Task OnInitializedAsync()
    {
        _user = await CurrentUserAccessor.GetUserAsync();
        _report = _user.Reports.SingleOrDefault(r => r.Id == Id);
        var billingContext = new BillingContext(_user, _report);
        _price = await BillingService.CalculatePriceAsync(billingContext);
    }

    public async Task HandleFormSubmit()
    {
        var purchasesRequest = new PurchaseRequest(_user.Id, _price);
        try
        {
            var result = await PaymentService.PurchaseAsync(purchasesRequest, default);
            Navigator.NavigateTo($"/Report/{_report.Id}");
        }
        catch (ValidationException ex)
        {
            var errors = ex.Errors.Select(e => e.ErrorMessage);
            _errorMessage = ex.Message;
        }
    }

}
