﻿@page "/"
@page "/Reports"
@using Web.Features.Billing.Models

@inject ICurrentUserAccessor CurrentUserAccessor
@inject IReportViewService ReportViewService
@inject NavigationManager Navigator
@inject IBillingService BillingService

@if (_user != null)
{
    <h1 class="text-2xl">Hello, @_user.Name</h1>

    @foreach (var report in _reports)
    {
        <ReportPreview Report="@report" OnClick="OnButtonClick"/>
    }
}

@code {

    private User _user;
    private IOrderedEnumerable<Report> _reports;

    private async Task OnButtonClick(Guid reportId)
    {
        var selectedReport = _reports.SingleOrDefault(r => r.Id == reportId);
        var billingContext = new BillingContext(_user, selectedReport);
        if (await BillingService.HasAccessAsync(billingContext))
            Navigator.NavigateTo($"/Report/{reportId}");
        else 
            Navigator.NavigateTo($"Checkout/{reportId}");
    }

    protected override async Task OnInitializedAsync()
    {
        _user = await CurrentUserAccessor.GetUserAsync();
        _reports = await ReportViewService.GetReportsAsync(_user);
    }

}
